@model IEnumerable<AssignmentWCD_BabyFashionShop.Models.Clothes>

<ul class="product-list grid-products equal-container">
    @foreach (var item in Model)
    {
        <li class="col-lg-4 col-md-6 col-sm-6 col-xs-6 ">
            <div class="product product-style-3 equal-elem ">
                <div class="product-thumnail">
                    <a href="detail.html" title="@item.Name">
                        <figure><img src="@item.Thumnail" alt="@item.Name"></figure>
                    </a>
                </div>
                <div class="product-info">
                    <a href="#" class="product-name"><span>@item.Name</span></a>
                    <div class="wrap-price"><span class="product-price">VNĐ @item.Price</span></div>
                    @Html.ActionLink("Add To Cart", "Index", "MyCart", new {@class = "btn add-to-cart" })
                </div>
            </div>
        </li>
    }
</ul>