@using AssignmentWCD_BabyFashionShop.Data
@model IEnumerable<AssignmentWCD_BabyFashionShop.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CustomLayout.cshtml";
}
@{
    ProductDBcontext db = new ProductDBcontext();
    double totalAmount = 0;
}
<div class=" main-content-area">

    <div class="wrap-iten-in-cart">
        <h3 class="box-title">Products Name</h3>
  
        <ul class="products-cart">
            @if (Model == null || Model.Count() == 0)
            {
                <li class="pr-cart-item">Giỏ hàng chưa có sản phẩm nào</li>
            }
            else
            {
                foreach (var cartItem in Model)
                {
                    totalAmount += cartItem.TotalPrice;
                    var currentProduct = db.Clothes.Find(cartItem.ProductId);
                    
                    <li class="pr-cart-item">
                        <div class="product-image">
                            <figure><img src="@currentProduct.Thumnail" alt=""></figure>
                        </div>
                        <div class="product-name">
                            <a class="link-to-product" href="#">
                                @cartItem.ProductName
                            </a>
                        </div>
                        <div class="price-field produtc-price">
                            <p class="price">VND @cartItem.UnitPrice</p>
                        </div>
                        <div class="">
                            <div class="">
                                <form action="@Url.Action("Edit")" method="get">
                                    <input type="hidden" name="ProductIDInput" value="@cartItem.ProductId" />
                                    <input type="number" min="1" step="1" name="newQuantity" value="@cartItem.Quantity" />
                                    <button type="submit"  class="btn btn-danger btn-sm"> Update Quantity </button>
                                </form>
                            </div>
                        </div>
                        <div class="price-field sub-total">
                            <p class="price">VND @cartItem.TotalPrice</p>
                        </div>
                        <div class="delete">
                            <a href="@Url.Action("Delete",new { ProductIDInput = cartItem.ProductId})" class="btn btn-delete" title="">
                                <span>Delete from your cart</span>
                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                }
            }
        </ul>
        
        
    </div>

    <div class="summary">
        <div class="order-summary">
            <h4 class="title-box">Order Summary</h4>
            <p class="summary-info"><span class="title">Subtotal</span><b class="index">$512.00</b></p>
            <p class="summary-info">
                <span class="title">Shipping</span><b class="index">Free Shipping</b>
            </p>
            <p class="summary-info total-info ">
                <span class="title">Total</span><b class="index">VND @totalAmount</b>
            </p>
        </div>
        <div class="update-clear">
            <a class="btn btn-clear" href="@Url.Action("ClearShoppingCart")">Clear Shopping Cart</a>
            <a id="btn-Checkout" class="btn btn-clear" href="">Check Out</a>
        </div>
    </div>
</div>

